[Unit]
Description=pwnagotchi - WiFi intelligence agent
Documentation=https://pwnagotchi.org
Wants=network.target
After=wificapc.service

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/pwnagotchi-launcher
Restart=always
RestartSec=30
TasksMax=infinity
LimitNPROC=infinity
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
